asttokens==3.0.0
basemap==1.4.1
basemap-data==1.3.2
brainpy==2.6.1
cartopy==0.25.0
certifi==2025.4.26
cmake==3.31.1
colorama==0.4.6
colour==0.1.5
comm==0.2.2
contourpy==1.3.0
cycler==0.12.1
dcor==0.6
debugpy==1.8.14
decorator==5.2.1
dtreeviz==2.2.2
exceptiongroup==1.3.0
executing==2.2.0
fonttools==4.58.0
graphviz==0.20.3
iniconfig==2.1.0
ipykernel==6.29.5
ipython==8.36.0
jax==0.4.38
jaxlib==0.4.38
jedi==0.19.2
joblib==1.5.0
jupyter_client==8.6.3
jupyter_core==5.7.2
kiwisolver==1.4.8
LK_Info_Flow==3.1.2.1
llvmlite==0.42.0
matplotlib==3.8.4
matplotlib-inline==0.1.7
metakernel==0.30.3
ml_dtypes==0.5.3
nest-asyncio==1.6.0
networkx==3.3
numba==0.59.0
numpy==1.24.1
oct2py==5.7.2
octave_kernel==0.36.0
opt_einsum==3.4.0
packaging==23.2
pandas==2.2.3
parso==0.8.4
patsy==1.0.1
pexpect==4.9.0
pillow==11.2.1
platformdirs==4.3.8
pluggy==1.5.0
progress==1.6.1
prompt_toolkit==3.0.51
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.19.1
pyparsing==3.2.3
pyproj==3.6.1
pyshp==2.3.1
pytest==8.3.5
python-dateutil==2.9.0.post0
pytz==2025.2
pyzmq==26.4.0
scikit-learn==1.5.2
scipy==1.14.1
seaborn==0.13.2
shapely==2.1.2
six==1.17.0
stack-data==0.6.3
statsmodels==0.14.4
threadpoolctl==3.6.0
#tigramite==5.2.5.12
tomli==2.2.1
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
typing_extensions==4.13.2
tzdata==2025.2
wcwidth==0.2.13
